<div class="container">
  <h2>
    Test task!
  </h2>
  <p>User: A - can see Home, B - can see book, C- can add new Book</p>
  <p>The Auth service is simulated -> we record token and user in localStorage</p>
  <p>A server with token returns a group and name of user</p>
  <p>Auth service have method getGroup()</p>
  <p>Some Components are deleted from the DOM for some groups</p>
  <p>The router guard does not allow us to manually enter the route that is defended</p>
  <p>The ultimate protection is on the server. Each http request is sent with a Token,
      so the server can decide how to proceed.</p>
  <p>A json-server that does not support any of these ...   :-)</p>
  <p>And should use https ...</p>
</div>
